@import 'src/theme/variables';

.confirm-email {
    padding: 64px 32px 56px 32px;
}

.confirm-email__info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.container {
    width: fit-content;
}

.character {
    width: 40px;
    height: 40px;
    border: 1px solid $character-light-border;
    border-radius: 2px;
    font-size: 24px;
    line-height: 29px;
    padding: 5px 12px;
    background: $white-color;
}

.character__error {
    width: 40px;
    height: 40px;
    border: 1px solid $character-light-error;
    border-radius: 2px;
    font-size: 24px;
    line-height: 29px;
    padding: 5px 12px;
    background: $white-color;
}

@media (max-width: 480px) {
    .confirm-email {
        padding: 32px 10px;
    }
}
