@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: var(--character-light-title-85);
}

:root {
    --character-light-title-85: #262626;
    --primary-light-9: #061178;
    --character-light-dividers: #f0f0f0;
    --neutral-gray-12: #141414;
}

#root {
    height: 100%;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
