.change-password {
    padding: 64px 32px;
}

.change-password__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 32px;
}

.change-password__change {
    max-width: 368px;
    margin: 0 auto;
}

@media (max-width: 460px) {
    .change-password {
        padding: 32px 16px;
    }
}
